<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
   
      <a class="navbar-brand" href="#!">Online Bookstore</a>
     
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav">
         
          <li class="nav-item"><a class="nav-link" href="#!">About us</a></li>
          <li class="nav-item"><a class="nav-link" href="#!">Contact us</a></li>
      </ul>
        <app-search></app-search>

      </div>

      <div class="ml-auto">
        <app-cart-status ></app-cart-status>
      </div>

          <ul class="navbar-nav">
              
              <li class="nav-item"><a class="nav-link" href="#!">Logout</a></li>
              <li class="nav-item"><a class="nav-link" href="#!">Login</a></li>
          </ul>
   
</nav>
<br/>
<!-- Page Content-->
<div class="container">
  
  <router-outlet></router-outlet>
</div>
<!-- Footer-->
<footer class="py-5 bg-dark">
  <div class="container"><p class="m-0 text-center text-white">Copyright &copy; Your Website 2021</p></div>
</footer>