<div class="row">

    <div class="col-md-3">

        <app-book-category></app-book-category>
    </div>
    <div class="col-md-9">
        <div class="row">
            <div class="col-md-12">

               <div *ngIf="cartItems.length > 0 ">

                <table class="table table-bordered">
                    <thead class="bg-dark text-light">

                        <tr>
                            <th width="20%">Book Image</th>
                            <th width="50%">Book Details</th>
                            <th width="300%"></th>
                        </tr>

                    </thead>
                    <tbody>
                        <tr *ngFor="let cartItem of cartItems">
                            <td>    
                                <img [src]="cartItem.imageUrl" class="img-responsive" width = "150" height="200"/>
                            </td>
                            <td>
                                <p>{{cartItem.name}}</p>
                                <p>{{cartItem.unitPrice | currency : 'INR'}}</p>
                            </td>
                            <td>
                                <div class="row">
                                    <div class="col-md-12">
                                            <p>Quantity : {{cartItem.quantity}}</p>
                                    </div>
                                    <div class="col-md-12 mt-2" >
                                        <p>Subtotal : {{cartItem.unitPrice * cartItem.quantity | currency : 'INR'}} </p>
                                    </div>
                                </div>
                                
                            </td>
                        </tr>

                    <tr>
                        <td colspan="2"></td>
                        <td class="font-weight-bold">
                            <p>Total Quantity : {{totalQuantity}}</p>
                            <p>Shiping : FREE</p>
                            <p>Total price : {{totalPrice | currency : 'INR'}}</p>
                        </td>

                        
                    </tr>

                    </tbody>
                </table>


               </div>

               <div *ngIf="cartItems.length ==0 " class = "alert alert-warning" role = "alert">
                    <p>Your cart is Empty </p>

               </div>

            </div>

        </div>

    </div>

</div>